body {
	background-image: url('../images/background.jpg');
}

/*.start-mode {
	display: none;
}

.question-mode {
	display: none;
}

.answer-mode {
	display: none;
}

.results-mode {
	display: none;
}*/